page-login {
  .card-ios,
  .card-md {
    // position: fixed;
    // margin-top: -5em;
    width: calc(100% - 24px);
    background-color: white;
    height: 400px;
    width: 350px;
    // text-align: center;
    // margin: 20px;
    box-shadow: none;
    border-radius: 10px; 
    // left: 100px;
    // bottom: 10%;
    margin: auto;
    border: 3px solid rgba(1, 50, 67, 1);
    padding: 10px;
    padding-bottom: 0 !important;

  }

  .scroll-content {
    padding-bottom: 0 !important;
 }

  .background {
    position: absolute;
    background-image: url("../assets/imgs/login.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .vertical-align-content>* {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }
  // .nav{
  //   width: 320px;
  //   height: auto;
  //   margin: 4vh;
  //   margin-left: 3.5vh;
  // }

  .btnwidth{
    width: 100%;
    margin-left: 0vh;


  }


  .footer{
    position: fixed;
    background-color: black;
  //  left: 0;
   bottom: 0;
  //  height: 0;
  //  width: 100%;
   color: white;
   text-align: center;
  }

  body.keyboard-open .has-footer{	
    bottom: 0;
    }




  }