page-dashboard {

    .card{
        // position: absolute;
        text-align-last: center;
    }
    .img{
        position: relative;
        height: 40%;
        width: 60%;
        left: 20%;
    }
    // #map_canvas{
    //     height: 100%
        
    // }
}
