<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asset List</ion-title>
    <ion-buttons end>
      <button icon-end color="orange" solid ion-button (click)="getSyncData()">Sync Data
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked color="dark">Process Location</ion-label>
          <ion-select placeholder="please select" interface="popover">
            <ion-option *ngFor="let process of processloc" [value]="process.name">{{process.name}}</ion-option>

          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked color="dark">Asset Category</ion-label>
          <ion-select placeholder="please select" [(ngModel)]="asset_cat" interface="popover" (ionChange)="getSyncCat(asset_cat)">
            <ion-option *ngFor="let asset of assetcat" [value]="asset.name">{{asset.name}}</ion-option>

          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ngx-datatable [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
      [rows]="rows" [columns]="columns" [columnMode]="'force'" [limit]="10">
      <ngx-datatable-column prop="assetID" name="asset ID"></ngx-datatable-column>
      <ngx-datatable-column prop="RFID" name="RFID"></ngx-datatable-column>
      <ngx-datatable-column prop="Name" name="Asset"></ngx-datatable-column>
      <ngx-datatable-column name="Action">
        <ng-template let-value="assetID" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <button ion-button clear color="dark" (click)='openModal(row)'>
            <ion-icon class="table" name="eye"></ion-icon>
          </button>
          <!-- <button ion-button clear color="dark" (click)='goToInspectionPage(rowIndex)'>
            <ion-icon class="table" name="build"></ion-icon>
          </button> -->
          <button  class="button-table" ion-button [color]="checkListExist(rowIndex)" (click)='addToInspection(rowIndex)'>
              <!-- <button  class="button-table" ion-button (click)='addToInspection(rowIndex)'> -->
            Inspect
          </button>
           
         
        
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Actions">
         
          <template  ngx-datatable-cell-template>
              <button ion-button (click)="blockAgents(value)">Inspection
                 
              </button> (activate)='openModal($event)'
              
          </template>
      </ngx-datatable-column> -->

    </ngx-datatable>
  </div>

</ion-content>